@model OTM.ViewModels.TestTemplates.DeleteTestTemplateViewModel

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-solid" style="margin: 25px 0 0 0;text-align: center">
                <div class="box-header with-border">
                    <h3 class="box-title">Test template details</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" asp-action="Delete">
                    <div class="box-body">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.TestType)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.TestType.Type)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="text-align: center">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <a class="btn btn-default" asp-action="Index">Cancel</a>
                            <input type="submit" value="Delete" class="btn btn-info" />
                        </form>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>
