@model IEnumerable<OTM.ViewModels.Group.IndexGroupViewModel>
<!DOCTYPE html>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a class="btn btn-default" asp-action="Create" style="margin: 10px 0 10px 0">Create New</a>

            @foreach (var item in Model)
            {
                <div class="box box-solid">
                    <div class="box-header with-border" style="text-align: center">
                        <i class="fa fa-text-width"></i>
                        <h3 class="box-title">@Html.DisplayFor(model => item.Name)</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>Group @Html.DisplayNameFor(model => model.Description):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.Description)</dd>
                                <dt>@Html.DisplayNameFor(model => model.CreatedAt):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.CreatedAt)</dd>

                            </dl>
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Actions</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                                    <li><a asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                                    <li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </div>
            }
            <!-- /.box -->
        </div>
    </div>
</div>

