@model OTM.ViewModels.Group.RemoveStudentFromGroupViewModel

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-solid" style="margin: 25px 0 0 0;text-align: center">
                <div class="box-header with-border">
                    <h3 class="box-title">Group details</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" asp-action="Edit">
                    <div class="box-body">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.StudentName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.StudentName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.GroupName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.GroupName)
                                </dd>
                                <dt>
                            </dl>
                        </div>
                    </div>
                </form>

                    <!-- /.box-body -->
                    <div class="box-footer" style="text-align: center">
                        <form asp-action="RemoveStudentFromGroup">
                            <input type="hidden" asp-for="StudentId" />
                            <input type="hidden" asp-for="GroupId" />
                            <a class="btn btn-default"asp-action="Edit" asp-route-id="@Model.GroupId">Cancel</a>
                            <input type="submit" value="Delete" class="btn btn-info" /> 
                            
                        </form>

                    </div>
                    <!-- /.box-footer -->
               
            </div>
        </div>
    </div>
</div>