@model IEnumerable<OTM.ViewModels.Tests.IndexTestsViewModel>

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align: center">
            @if (!Model.Any())
            {
                <img src="~/dist/img/smiley_sad.png" style="padding: 15px" alt="Sad Images">
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                    No tests for you currently.
                </div>
            }

            @foreach (var item in Model)
            {
                <div class="box box-solid">
                    <div class="box-header with-border" style="text-align: center">
                        <i class="fa fa-group"></i>
                        <h3 class="box-title">@Html.DisplayFor(modelItem => item.Name)</h3>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>Group @Html.DisplayNameFor(model => model.Name):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.Name)</dd>
                                <dt>@Html.DisplayNameFor(model => model.Description):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.Description)</dd>
                                <dt>@Html.DisplayNameFor(model => model.Duration):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.Duration)</dd>
                                <dt>@Html.DisplayNameFor(model => model.Ongoing):</dt>
                                <dd>@Html.DisplayFor(modelItem => item.Ongoing)</dd>
                                <dd>
                                     @if (item.Ongoing)
                                          {
                                              <a class="btn btn-info"asp-action="Display" asp-route-id="@item.Id">Start Test</a>
                                          }
                                </dd>
                            </dl>
                        </div>
                        
                      
                    </div>

                    <!-- /.box-body -->
                </div>
            }
            <!-- /.box -->
        </div>
    </div>
</div>
