@model OTM.ViewModels.ScheduledTest.DetailsScheduledTestViewModel


<h2>Scheduled Test</h2>

<div>
    <div style="width:50%;display: inline-block; vertical-align: top;">
        
   
        <h3>@Html.DisplayFor(model => model.TestDetails.Name)</h3>
        <h4>@Html.DisplayFor(model => model.TestDetails.Description)</h4>

        @foreach (var exercise in Model.TestDetails.Exercises)
        {
           
            <table class="table">
                <tr>
                    <td>
                        <b>
                            @Html.DisplayFor(modelItem => exercise.Description)
                        </b>
                    </td>
                    <td>
                        Correctness
                    </td>
                </tr>

                @foreach (var answer in exercise.Answers)
                {
                    <tr>
                        <td width="70%">
                            @Html.DisplayFor(modelItem => answer.Description)
                        </td>
                        <td width="30%">
                            @Html.DisplayFor(modelItem => answer.Correct)
                        </td>
                    </tr>

                }
            </table>
        }

    </div>
    <div style="width:49%; display: inline-block; vertical-align: top;">
        
        <h3>
            @Html.DisplayFor(model => model.GroupDetails.Name)
        </h3>
        <h4>
            @Html.DisplayFor(model => model.GroupDetails.Description)
        </h4>
        <table class="table" >
           
            <tbody>

            @foreach (var user in Model.GroupDetails.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.UserName)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
